body {
	background-color: white!important;
	position: relative;
}

.first-part {
	background-image: url('../Images/simplify-web-background-green-no-white.png');
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	background-image: url('../Images/simplify-web-background-green-no-white.png');
}

img.brand-img {
	max-height: 40px;
	max-width: 40px;
}

a.navbar-brand {
	font-weight: 800;
}

a.nav-link {
	color: white!important;
}

a.nav-link:hover {
	transition: all .8s ease;
	border-bottom: 5px solid green;
}

.img-logo {
	margin-right: -10px;
}

button.nav-toggler {
	color: white;
}

.jumbotron {
	background: transparent!important;
	color: white;
}

.jumbotron h1 {
	font-weight: 400;
}

a.services {
	background-color: #7a33c9;
	color: white;
}

.section-icon img {
	max-height: 50px;
	max-width: 40px;
	border-radius: 5px;
	margin: 10px 0px;
}

.sections {
	background-color: white;
}

.section-text {
	text-align: center;
}

.section-text h3 {
	font-weight: 600;
}

footer {
	background-color: rgba(0, 0, 0, 0.166)!important;
	margin-bottom: 0!important;
	background-image: url('../Images/simplify-web-background-green-no-white.png');
	/* padding-bottom: 10px; */
	position: absolute;
	width: 100%;
}

div.footer-head {
	background-color: rgba(0, 0, 0, 0.500);
}

.footer-sections {
	padding: 10px 10px!important;
}

ul.top-social {
	display: flex;
	justify-content: center;
	margin: 0 5.9rem!important;
	padding: 0px!important;
}

ul.top-social li {
	display: inline-block;
	margin: 0px 10px!important;
}

ul.top-social li a {
	color: white;
}

.fsection-head {
	font-style: italic;
	text-decoration: underline;
	color: black;
}

.input-group {
	display: flex;
	justify-content: center;

}

.form-input {
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
}

::placeholder {
	color: white;
	text-align: center;
	opacity: .6;
}

.closing {
	background-color: rgba(0, 0, 0, 0.500);
	color: white;
}

.closing p {
	margin: 0px!important;
}

@media screen and (max-width: 992px) {
	ul.navbar-nav {
		background-color: rgba(0, 0, 0, 0.477);
		transition: all 1s ease-in;
		padding: 10px 10px;
	}
}

@media screen and (max-width: 576px) {
	h1.display-4 {
		font-weight: 600;
		font-size: 1.66rem!important;
	}

}